In [1]:
import PIL
from PIL import Image, ImageOps
from numpy import asarray
import pandas as pd
import numpy as np

## Data preparation

 As the Kaggle entry states, the folder 'dataset2-master' contains 2,500 augmented images with 4 additional subtype labels (JPEG + CSV).

In [2]:
# path = 'C:\\Users\\Martin Schepers\\Documents\\dataset2-master\\dataset2-master\\images\\TRAIN\\EOSINOPHIL\\_0_207.jpeg'
# # numpy array
# img = Image.open(path)
# # bwimg = img.convert(mode="1", dither=Image.NONE)
# # applying grayscale method
# gray_img = ImageOps.grayscale(img)
# gray_img
# # PIL images into NumPy arrays
# numpydata = asarray(gray_img)/255
# print(type(numpydata))
# print(numpydata.shape)
# # pd.DataFrame(numpydata.reshape(-1))
# numpydata

# asarray(ImageOps.grayscale(img))/255

In [3]:
import glob
# Eosinophil=0, Lymphocyte=1, Monocyte=2, Neutrophil=3
filelist = glob.glob(f'C:\\Users\\Martin Schepers\\Documents\\dataset2-master\\dataset2-master\\images\\TRAIN\\EOSINOPHIL\\*.jpeg')
# filelist

In [4]:
x0 = np.array([np.array(ImageOps.grayscale(Image.open(fname))) for fname in filelist])

In [7]:
x0_re = x0.reshape(2497, -1)
print(x0_re.shape, x0_re.dtype)

(2497, 76800) uint8

In [9]:
df_x0 = pd.DataFrame(x0_re)
df_x0_test = df_x0.assign(Label='0')
df_x0_test

,0,1,2,3,4,5,6,7,8,9,...,76791,76792,76793,76794,76795,76796,76797,76798,76799,Label
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,200,202,202,202,201,201,200,200,200,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2492,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2493,195,193,188,179,168,159,154,151,157,158,...,0,0,0,0,0,0,0,0,0,0
2494,0,0,0,0,0,0,0,0,0,0,...,190,190,189,189,191,193,192,190,187,0
2495,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2496,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
testlist = ['zero', 'one', 'two', 'three']

for i, n in enumerate(testlist):
    print(i, n)

0 zero
1 one
2 two
3 three

In [12]:
# df = pd.concat([df_x0_test, df_x0_test])

In [10]:
cell_dict = dict(Eosinophil=0, Lymphocyte=1, Monocyte=2, Neutrophil=3)
cell_dict

{'Eosinophil': 0, 'Lymphocyte': 1, 'Monocyte': 2, 'Neutrophil': 3}

In [ ]:
class DataLoader(file_path):
    self.path = file_path
    
    def array_maker(self, cel_dict):