In [1]:
from data_to_array_tool import *

## Data preparation

 As the Kaggle entry states, the folder 'dataset2-master' contains 2,500 augmented images with 4 additional subtype labels (JPEG + CSV).

In [4]:
path_list_train = [
    'C:\\Users\\Martin Schepers\\Documents\\dataset2-master\\dataset2-master\\images\\TRAIN\\EOSINOPHIL\\*.jpeg',
    'C:\\Users\\Martin Schepers\\Documents\\dataset2-master\\dataset2-master\\images\\TRAIN\\LYMPHOCYTE\\*.jpeg',
    'C:\\Users\\Martin Schepers\\Documents\\dataset2-master\\dataset2-master\\images\\TRAIN\\MONOCYTE\\*.jpeg',
    'C:\\Users\\Martin Schepers\\Documents\\dataset2-master\\dataset2-master\\images\\TRAIN\\NEUTROPHIL\\*.jpeg'
]

path_list_test = [
    'C:\\Users\\Martin Schepers\\Documents\\dataset2-master\\dataset2-master\\images\\TEST\\EOSINOPHIL\\*.jpeg',
    'C:\\Users\\Martin Schepers\\Documents\\dataset2-master\\dataset2-master\\images\\TEST\\LYMPHOCYTE\\*.jpeg',
    'C:\\Users\\Martin Schepers\\Documents\\dataset2-master\\dataset2-master\\images\\TEST\\MONOCYTE\\*.jpeg',
    'C:\\Users\\Martin Schepers\\Documents\\dataset2-master\\dataset2-master\\images\\TEST\\NEUTROPHIL\\*.jpeg'
]


def get_data(path_list):
    dataloader = DataLoader(path_list)
    arrays = dataloader.imgs_to_array()
    arrays = dataloader.array_reshaper(arrays)
    array_df = dataloader.arrays_to_df(arrays)
    return array_df


train_df = get_data(path_list_train)
test_df = get_data(path_list_test)

Importing images from: ['C:\\Users\\Martin Schepers\\Documents\\dataset2-master\\dataset2-master\\images\\TRAIN\\EOSINOPHIL\\*.jpeg', 'C:\\Users\\Martin Schepers\\Documents\\dataset2-master\\dataset2-master\\images\\TRAIN\\LYMPHOCYTE\\*.jpeg', 'C:\\Users\\Martin Schepers\\Documents\\dataset2-master\\dataset2-master\\images\\TRAIN\\MONOCYTE\\*.jpeg', 'C:\\Users\\Martin Schepers\\Documents\\dataset2-master\\dataset2-master\\images\\TRAIN\\NEUTROPHIL\\*.jpeg']
Importing images from: ['C:\\Users\\Martin Schepers\\Documents\\dataset2-master\\dataset2-master\\images\\TEST\\EOSINOPHIL\\*.jpeg', 'C:\\Users\\Martin Schepers\\Documents\\dataset2-master\\dataset2-master\\images\\TEST\\LYMPHOCYTE\\*.jpeg', 'C:\\Users\\Martin Schepers\\Documents\\dataset2-master\\dataset2-master\\images\\TEST\\MONOCYTE\\*.jpeg', 'C:\\Users\\Martin Schepers\\Documents\\dataset2-master\\dataset2-master\\images\\TEST\\NEUTROPHIL\\*.jpeg']

In [7]:
print(train_df['Label'].value_counts())
print(test_df['Label'].value_counts())

3    2499
0    2497
1    2483
2    2478
Name: Label, dtype: int64
3    624
0    623
1    620
2    620
Name: Label, dtype: int64

In [8]:
train_df

,0,1,2,3,4,5,6,7,8,9,...,76791,76792,76793,76794,76795,76796,76797,76798,76799,Label
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.784314,0.792157,0.792157,0.792157,0.788235,0.788235,0.784314,0.784314,0.784314,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2494,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.003922,0.007843,0.007843,0.003922,0.000000,0.003922,0.007843,0.007843,3
2495,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.023529,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3
2496,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.647059,0.662745,0.670588,0.635294,0.670588,0.654902,0.654902,0.066667,0.011765,3
2497,0.835294,0.835294,0.835294,0.839216,0.839216,0.843137,0.843137,0.843137,0.847059,0.843137,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3
2498,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.007843,0.047059,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3